// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Typography
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xl: 2.31rem;
$font-2xl: 3.25rem;

// Breakpoints
$bp-mobile: 375px;
$bp-tablet: 640px;
$bp-desktop: 1024px;